body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; 
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-image: url('./img/image-removebg-preview.png'); 
  background-size: cover;
  background-position: center;
  width: 80%; 
  max-width: 600px; 
  background-color: rgba(255, 255, 255, 0.5); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

h1 {
  color: #333; 
  margin: 0; 
}

p {
  font-size: 1.2em;
  color: white; 
}

.reload {
  color: white; 
  margin-top: 20px; 
}
